@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .mobile-menu-container {
        position: absolute;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }
}