@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .mobile-menu-container {
        position: absolute;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }
    .link-container {
        left: 50%;
        transform: translateX(-50%);
        background-image: url("../assets/media/bg-shorten-desktop.svg");
        background-color: #3c1957;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .max-w-280 {
        max-width: 280px;
    }

    .left-middle {
        left: 50%;
        transform: translateX(-50%);
    }

    .footer-container {
        background-image: url("../assets/media/bg-boost-desktop.svg");
        background-color: #3c1957;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .generated-link-container {
        @apply bg-white rounded-lg w-11/12 max-w-screen-xl m-auto flex flex-col lg:flex-row justify-between p-4 items-center mb-8;
    }

    .original-link {
        @apply text-2xl max-w-full w-full lg:w-7/12 font-semibold text-gray-800 break-all;
    }

    .new-link-container {
        @apply flex flex-col lg:flex-row justify-between lg:w-5/12 items-center w-full max-w-full;
    }
    
    .generated-link {
        @apply text-2xl max-w-full break-all w-full lg:w-9/12 text-left lg:mr-4 font-semibold text-cyan-400 lg:text-right;
    }

    .copy-btn {
        @apply w-full lg:w-3/12 rounded-lg py-2 mr-auto mt-4 lg:mt-0 max-w-280;
    }

    .statistics-container {
        @apply w-full lg:w-4/12 bg-white rounded-lg shadow-lg p-8 relative lg:h-96;
    }
    
    .icon-container {
        @apply bg-purple-900 p-6 rounded-full w-fit absolute -top-12 lg:left-20 left-middle;
    }

    .statistics-title {
        @apply mt-8 text-gray-800 font-bold text-4xl mb-8 lg:text-left text-center
    }

    .statistic-text {
        @apply text-gray-400 font-semibold font-sans text-lg text-center lg:text-left;
    }

    .btn {
        @apply bg-cyan-400 text-white font-bold font-sans hover:bg-cyan-500 hover:shadow-2xl shadow-cyan-400
    }
    
    .socials-icon {
        @apply text-white text-4xl hover:text-cyan-400;
    }

    .link {
        @apply hover:text-cyan-400;
    }

    .fotter-section-title {
        @apply text-xl font-semibold lg:mb-6 mb-2;
    }

    .footer-list {
        @apply text-gray-200 font-light;
    }
}