@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .mobile-menu-container {
        position: absolute;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }
    .link-container {
        left: 50%;
        transform: translateX(-50%);
        background-image: url("../assets/media/bg-shorten-desktop.svg");
        background-color: #3c1957;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .max-w-280 {
        max-width: 280px;
    }
}